
.Toastify__toast-container {
  padding: 0.5rem;
}


@media (max-width: 640px) {
  .Toastify__toast-container {
    bottom: 10px !important;
    top: auto !important;
    width: 90% !important;
    left: 5% !important;
    right: 5% !important;
  }

  .Toastify__toast {
    font-size: 14px;
    padding: 12px;
  }
}
